body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #444;
  height: 100px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
}

nav {
width: 960px;
margin:auto;
/* align-items: center; */
}

/* This CSS code is selecting all `img` elements that are inside a `nav` element and applying two
styles to them. */
nav img{
  float: left;
  margin-top: 15px;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  margin-top: 40px;
}

a{
  text-decoration: none;
  color: #ddd;
}


main {
  width: 960px;
  margin: auto;
}

/* This CSS code is selecting the `ul` element that is inside the `main` element and applying four
styles to it:
- `display: flex;` sets the display property to flex, which allows the child elements of the `ul` to
be arranged in a flexible row or column.
- `justify-content: space-between;` aligns the child elements of the `ul` with equal space between
them, pushing the first and last elements to the edges of the container.
- `margin-top: 30px;` adds a margin of 30 pixels to the top of the `ul`.
- `margin-bottom: 30px;` adds a margin of 30 pixels to the bottom of the `ul`. */
main ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  display: flex;
  justify-content: space-between;
}

footer {
  height: 150px;
  background-color: #444;
  margin-left: 30px;
  margin-right: 30px;
}


  section article p {
    height: 300px;
    /* for text that takes up more space than you want: */
    overflow: auto;
    margin-bottom: 20px;
    border: ridge 10px;
    /* border-color: #444; */
  }

  button:hover {
    background-color: green;

  }

  button{
    transition: 350ms;
    padding: 14px 40px;
  }


section img{
  margin-right: 20px;
  margin-bottom: 30px;
}